installs:
  web-01:
    os: ubuntu
    version: "24.04"
    docker: true
    packages:
      - vim
      - curl
      - ca-certificates
      - net-tools
      - mosh
    users:
      - username: testuser
        sudo: true
        shell: /bin/bash
        ssh_authorized_keys:
          - "ssh-ed25519 AAAAB3Nza... testuser@local"
    network:
      hostname: web-01
      domain: lab.local
      dhcp: false
      address_cidr: 192.168.1.20/24
      gateway: 192.168.1.1
      dns:
        - 1.1.1.1
        - 9.9.9.9
      interfaces:
        - bridge: vmbr0
          vlan: null
          mac: null
          model: virtio
          mtu: null
    partitioning: {}
    nix_services: []


  ci-runner-01:
    os: ubuntu
    version: "24.04"
    docker: true
    users:
      - username: runner
        sudo: true
        ssh_authorized_keys:
          - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAFIEjyg0u7hl40wE27/BKSo+yZih5Aumax/PTgGVQ1t root@Karcsi"
    network:
      hostname: ci-runner-01
      dhcp: true
      interfaces:
        - bridge: vmbr0

  baremetal-01:
    os: nixos
    version: "24.05"
    nix_services: [openssh]
    packages: [htop, git, mosh]
    users:
      - username: ops
        sudo: true
        ssh_authorized_keys:
          - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAFIEjyg0u7hl40wE27/BKSo+yZih5Aumax/PTgGVQ1t root@Karcsi"
    network:
      hostname: baremetal-01
      domain: lab.local
      dhcp: false
      address_cidr: "192.168.1.50/24"
      gateway: "192.168.1.1"
      dns: ["1.1.1.1"]
      interfaces:
        - bridge: eno1
          mac: "52:54:00:aa:bb:cc"

  nixos-vm-01: # <-- This name MUST match the name in vm_specs.yaml
    os: nixos  # <-- This tells provision.py to use nixos_install.yml
    version: "25.05"

    # Define the variables.nix that nixos_install.yml needs
    network:
      hostname: nixos-vm-01
      dhcp: true

    users:
      - username: nixadmin
        sudo: true
        shell: /bin/bash
        ssh_authorized_keys:
          - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAFIEjyg0u7hl40wE27/BKSo+yZih5Aumax/PTgGVQ1t root@Karcsi"

    packages:
      - git
      - vim
      - mosh

    # This list enables services in nixos_install.yml
    nix_services:
      - gitea
      # Add other services from your selection.yml that you want enabled
